.topbar {
  position: relative;
  width: 100vw;
  height: 40px;
  background-color: var(--secondary-color);
}

.topbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  clip-path: polygon(0% 0%, 60% 0%, 55% 100%, 0% 100%);
}

.topbar ul {
  position: absolute;
  width: 60vw;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.topbar ul li {
  list-style: none;
}

FontAwesomeIcon {
  position: absolute;
  top: -5px;
}